html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#flex-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

#navbar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eee;
}

#cards {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  overflow-y: scroll;
}

.card {
  height: 280px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
  box-sizing: border-box;
}

.card p {
  margin: 0.3em;
  font-weight: 500;
}

.rating {
  font-weight: 600;
}

.data {
  height: 30%;
}

.circle {
  position: relative;
  top: 1.6em;
  font-family: monospace;
  font-size: smaller;
}

#average, #clean {
  align-self: center;
}

h1, h3 {
  margin: 10px 0;
}
